<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="preLoadedAssemblies" type="Hosting.PreLoadedAssembliesSettings, Hosting"/>
  </configSections>
  <preLoadedAssemblies>
    <add assemblyName ="Foo.dll"/>
    <add assemblyName ="Bar.dll"/>
    <add assemblyName ="Baz.dll"/>
  </preLoadedAssemblies>
</configuration>