<html>
<head>
    <title>联系人列表</title>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
</head>
<body>
    <ul id="contacts"></ul>
    <script type="text/javascript">
        $(function ()
        {
            var url = "http://localhost:3721/api/contacts";
            $.getJSON(url, null, function (contacts) {
                $.each(contacts, function (index, contact)
                {
                    var html = "<li><ul>";
                    html += "<li>Name: " + contact.Name + "</li>";
                    html += "<li>Phone No:" + contact.PhoneNo + "</li>";
                    html += "<li>Email Address: " + contact.EmailAddress + "</li>";
                    html += "</ul>";
                    $("#contacts").append($(html));
                });
            });
        }
        );
    </script>
</body>
</html>

